#container-grid{
    padding: 2rem 1rem;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
#tabel-tampil{
    margin-left: auto;
    margin-right: auto;
}
p{
    
}